<div class="jumbotron">
    <%= @username %>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <p>status</p>
        </div>
    </div>
     <div class="col-xs-6">
        <div class="panel panel-default">
            <p>feed</p>
        </div>
    </div>
     <div class="col-xs-3">
        <div class="panel panel-default">
            <p>suggest</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
            <p>trends</p>
        </div>
    </div>
</div>